.page {
  --primary-color: #2f81f7;
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
  background: #0d1117;
  font-size: 18px;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

.projects {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fadein.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
  .intro .links a:hover {
    color: #d946ef;
    text-shadow: 0 0 5px #d946ef;
  }
  
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  
}

@media (prefers-color-scheme: dark) {
  
}
