.section {
  background: #0d1117;
  margin: auto;
  padding: 1em 2em;
}

.section h2 {
  font-size: 2em;
  margin: 0.5em 0em;
  color: var(--primary-color);
}

.heading {
  font-size: 2em;
  margin: 0.5em 0em;
  color: var(--primary-color);
}

.para {
  font-size: 1em;
  margin: 1em 0em;
  color: #c9d1d9;
}

/* For (≥600px) */
@media (min-width: 600px) {
  .section {
    padding: 1em 4em;
  }
  
  .heading {
    margin: 2em 0em;
  }
  
  .para {
    margin: 2em 0em;
    font-size: 0.6em;
  }
}
