.intro {
  text-align: center;
  padding: 10em 2em;
  border-bottom: 2px solid #2f81f7;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  background-image: url("/1760794085258.jpg");
  background-size: cover;
  background-position: center;
}

.intro h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.intro p {
  font-size: 1em;
  margin-bottom: 1.5em;
  color: white;
}

.intro .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-top: 3em;
}

.intro .links a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  transition: all 0.6 ease;
  background-color: white;
  border-radius: 20px;
  padding: 0.5em 1em;
}

.reserved_text {
  margin-top: 3em;
  line-height: 0.6em;     /* Height of each line */
  min-height: 1.2em;        /* 2 lines × 1.5em = 3em */
}

.typing_text {
  font-weight: 600;
  font-size: 0.6em;
}

.cursor {
  font-weight: bold;
  font-size: 0.6em;
}
